"""
{{project_name}}
----------------

{{description}}
"""

__author__ = "John Doe"
__copyright__ = "Copyright (c) 2020 John Doe"
__credits__ = ["John Doe", "Jane Q. Citizen", "..."]
__license__ = ""
__version__ = "0.0.1"
__maintainer__ = "John Doe"
__email__ = "john.doe@example.com"
__status__ = "Development"
